<% content_for :title, "Editing database" %>

<h1>Editing database</h1>

<%= render "form", database: @database %>

<br>

<div>
  <%= link_to "Show this database", @database %> |
  <%= link_to "Back to databases", database_path %>
</div>
