/*
 require_tree .
 */
:root {
  --primary-color: #ef1a1f;
  --bg-color: #ebe6e9;
  --text-color: #292c28;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
a {
  color: var(--primary-color);
}
button, input[type="submit"] {
  font-size: 1.2em;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  &:hover {
    cursor: pointer;
  }
}
