#database_container {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 8px;
  grid-template-rows: auto 1fr;
}

.database_menu {
  display: flex;
  gap: 8px;
  align-items: center;
}
.database_add_button {
  height: 20px;
  padding: 4px;
  border: 1px solid var(--text-color);
  border-radius: 2px;
}

.database_view {
  min-height: 0;
  display: grid;
  gap: 16px;
  grid-template-rows: auto 1fr;
}

.database_title_edit_area {
  display: flex;
  align-items: center;
  gap: 4px;
}
.database_title_edit_input_wrapper {
  position: relative;
}
.database_title_edit_input {
  font-size: 1.5em;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--text-color);
}
.database_title_edit_icon {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding: 8px 0;
  background-color: var(--bg-color);
  border-bottom: 2px solid var(--text-color);
  pointer-events: none;
}
.database_title_save_button {
  border: none;
  height: 28px;
}

#database_table_wrapper {
  width: 100%;
  overflow: auto;
  padding-right: 8px;
  padding-bottom: 8px;
  scrollbar-color: var(--text-color) transparent;
}
.database_table {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 1.1em;

  & thead, th {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  & th, td {
    border: 1px solid var(--text-color);
    height: 1lh;
  }
  & th {
    text-wrap: nowrap;
    text-align: left;
    color: var(--bg-color);
    background-color: var(--text-color);
    & svg {
      fill: var(--bg-color);
    }
    &:hover {
      cursor: pointer;
    }
  }
  & input {
    width: 100%;
    padding: 4px 8px;
    background-color: transparent;
    border: none;
    border-radius: none;
  }
  @media (hover: hover) {
    th:hover {
      background-color: #484d46;
    }
    td:hover {
      background-color: #e2dcde;
    }
  }
}
.database_table_add_button {
  display: block;
  margin: auto 0;
  padding: 0;
  min-width: 24px;
  width: 100%;
  height: 100%;
  border: none;

  & svg {
    height: 24px;
  }
}

